.loader-container {
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(78, 78, 78, 0.5);
}

.spiner {
    width: 50px;
    height: 50px;
    /* Siempre para crear un circulo el border-radius debe ser de 50% */
    border-radius: 50%;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    /* animation: nombre duracion tipo ciclo */
    animation: spin 2s linear infinite;
}

.dates-container {
    text-align: center;
}

#dateInterval {
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
    width: 200px;
}

#dateInterval option {
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: none;
    border-radius: 0;
    padding: 6px 10px;
}
